/*Note this styling still has known errors*/

.moduleRow {
	width: 90%;
	height: 150px;
	margin: auto;
}

.moduleItem {
	width: 150px;
	float: left;
	margin-right: calc( (90% - 750px)/4 );
}

.moduleSpan {
	float: left;
	width: 0px;
}
